.home {
    height: 604px;
    width: 100vw;
    padding-top: 192px;
    background: url(../images/home-bg.jpeg) no-repeat center / cover;
}

.home__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.home__text {
    max-width: 380px;
    margin-bottom: 70px;
}